.Navbar {
  background-color: #cb1c8d;
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
}

.Navbar h1 {
  color: #000;
  font-weight: bold;
}
