.grid-container {
  display: grid;
  justify-content: space-around;
  column-gap: 0;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  row-gap: 50px;
  background-color: #aa336a;
  margin-top: 200px;
}

.grid-item {
  background-color: #cb1c8d;
  padding: 10px 25px 25px 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px #000;
  cursor: pointer;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.direct {
  background-color: #cb1c8d;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
}

.direct:hover {
  background-color: #aa336a;
}

.movie-name {
  color: #000;
  font-size: 20px;
  max-width: 220px;
}

@media screen and (max-width: 1050px) {
  .grid-container {
    display: grid;
    justify-content: space-around;
    column-gap: 0px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 750px) {
  .grid-container {
    display: grid;
    justify-content: space-around;
    column-gap: 0px;
    grid-template-columns: auto auto;
    padding: 10px;
    row-gap: 50px;
  }
}
